body {
  background-color:IndianRed
    ;
}

h1{font-family: 'Oswald', sans-serif;
  
  
}

h4{font-family: 'Mitr', sans-serif;
  
}

h5{font-family: 'Noto Serif Thai', serif;
  
}

h6{font-family: 'Mitr', sans-serif;
  
}

h3{font-family: 'Trirong', serif;
  
}

h5{font-family: 'Titillium Web', sans-serif;
}
